services:
  db:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${APP_DB_USER}
      - POSTGRES_PASSWORD=${APP_DB_PASSWORD}
      - POSTGRES_DB=${APP_DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgbackup:
    image: prodrigestivill/postgres-backup-local:17
    restart: unless-stopped
    volumes:
      - ./backups:/backups
    links:
      - db
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=${APP_DB_NAME}
      - POSTGRES_USER=${APP_DB_USER}
      - POSTGRES_PASSWORD=${APP_DB_PASSWORD}
      - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
      - SCHEDULE=@daily
      - HEALTHCHECK_PORT=8080

  redis:
    image: redis:latest
    container_name: bakery_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: /bin/sh -c "redis-server --requirepass ${APP_REDIS_PASSWORD}"
    env_file:
      - .env


volumes:
  postgres_data: